$--colors: (
  "primary": (
    "base": #3b82f6,
  ),
  "success": (
    "base": #22c55e,
  ),
  "warning": (
    "base": #f59e0b,
  ),
  "danger": (
    "base": #ef4444,
  ),
  "error": (
    "base": #ef4444,
  ),
  "info": (
    "base": #06b6d4,
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
